.main-body {
    background-image: url("resource/background-body.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

@font-face {
    font-family: "Quicksand";
    src: url("resource/font/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Honey";
    src: url("resource/font/HoneyScript-Light.ttf");
}

* {
    font-family: "Quicksand";
    font-size: 14px;
    box-sizing: border-box;
}

.title01 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.background {
    background-image: url("resource/background\ 1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;

}

.title02 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgba(175, 219, 103, 0.911);
}

.lable-text-color {
    color: rgb(180, 251, 253);
    font-size: 11px;
    font-weight: bold;
}

/* header.php */

.usericon{

  background-image: url("resource/usericon.png");
  background-repeat: no-repeat;
  background-size: cover;  
  height: 80px;
  width: 80px;
  border-radius: 200px;

}

.carticon{

  background-image: url("resource/carticon.png");
  background-repeat: no-repeat;
  background-size: cover;  
  height: 80px;
  width: 80px;
  border-radius: 200px;

}

.tex_color{

  color:rgba(227, 177, 0, 0.94) ;

}
.tex01{

  color:rgba(227, 177, 0, 0.94) ;
  font-size: 20px;

}


@media(min-width:700px){

  .tex01{

    font-size: 50px;

  }

}

.header_body {

  background-color: rgba(0, 0, 102, 1);

}

.btn01{

  background-color: rgba(227, 177, 0, 0.94);

}
.btn02{

  background-color: rgba(238, 232, 210, 0.13);
  border-color: rgba(238, 232, 210, 0.13);
  border-radius: 2px;

}

/* header.php */

/* carsoul */

.carousel_img{
 
  border-radius: 25px;
  width: 100%;
  height: 700px;
  
}

/* carsoul */

/* Home */

.newproduct_row{

  background-color: rgba(0, 0, 102, 1);
  border-radius: 100px;
  color:  rgba(227, 177, 0, 0.94);
  font-weight: bold;
  font-size: 40px;

}

.home_body{

  background-color: rgba(174, 172, 172, 0.73);
  box-shadow: 100px;
  
}

.home_img{

width: 200px;
height: 200px;

}

.home_imgbody{
  
  background-color: rgba(151, 151, 151, 0.795);
  border-radius: 10px;
  
}

.btn03{

  background-color: rgba(236, 236, 236, 0.15);
  border-color: rgba(236, 236, 236, 0.15);

}

/* Home */

/* Admin Panel */
.admin_body{

    background-image: url("resource/admin\ 2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.adminlogin_body1 {
    font-family: "Open Sans";
  }
  
  a {
    text-decoration: none;
    outline: none;
    color: #444;
  }
  
  .form-03-main {
    width: 500px;
    display: block;
    margin: 20px auto;
    padding: 25px 50px 25px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    text-align: center;
  }
  
  .logo {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
  }
  
  .form-group {
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
    position: relative;
  }
  
  .form-group p {
    margin: 0px;
  }
  
  .form-control {
    min-height: 45px;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid#2b3990;
  }


.umanagement{
  margin-top: 50px;
  width: 1800px;
  height: 700px;
  background-color: rgba(14, 13, 13, 0.507);
  padding: 0px;
  margin-left: 10px;
}

.Aduserimg {
  width: 30px;
  height: 30px;
}

/* Admin Dashboard */

.userlist{

  background-color: rgba(68, 68, 68, 1);

}

/* Admin Product Management */

.prmainput{

  background-color: rgba(209, 209, 209, 0.63);

}

.prmabtn{

  background-color: rgba(231, 1, 1, 0.62);
  height: 50px;

}

.productimg {
 
  background-color: rgba(209, 209, 209, 0.63);
  width: 250px;
  height: 250px;

}

.addminBody {

  background-color: rgba(174, 172, 172, 0.73);

}

.productimgupload{

  width: 130px;
  height: 130px;

}

/* stock Management */

.img_body{

  width: 350px;

}

.recentStock_body{

  background-color: rgba(217, 217, 217, 1);
  border-radius: 20px;

}

.recent_text_1{

  color: rgba(0, 73, 214, 1);

}

.recent_text_2{

  color: rgba(252, 48, 48, 0.94);

}

.recent_text_3{

  color: rgba(31, 31, 17, 0.856);
  font-weight: 300;

}

.stock_imgbtn {

background-color: rgba(31, 134, 35, 1);
font-weight: bold;
color: white;
border-radius: 50px;
height: 40px;

}

.stock_imgbtn_1 {

background-color: rgba(168, 15, 125, 0.83);
font-weight: bold;
color: white;
border-radius: 50px;
height: 40px;

}

.stock_imgbtn_2 {

background-color: rgba(217, 22, 22, 1);
font-weight: bold;
color: white;
border-radius: 50px;
height: 40px;

}
.stock_imgbtn_3 {

background-color: rgba(10, 31, 103, 1);
font-weight: bold;
color: white;
border-radius: 50px;
height: 40px;

}

.select_body{

  background-color: rgba(47, 30, 149, 0.9);

}

.select_body1{

  background-color: #928a8a9a;

}

.stock_se_btn{

  background-color: rgba(106, 93, 93, 0.9);

}

.stock_se_input{

  background-color: rgba(217, 217, 217, 1);

}

.star{

  width: 50px;
  height: 50px;

}

.btn_addto__cart{

  background-color: rgba(222, 207, 73, 1);

}

.qty{

  color: rgba(64, 60, 60, 1);

}

.de_cost {

  color: rgba(227, 177, 0, 0.97);

}

.tought_text{

  color: rgba(134, 15, 15, 1);

}

.buy_now_btn{

  background-color: rgba(252, 48, 48, 0.94);

}

.price{

  color: rgba(47, 30, 149, 0.9);

}

.bran_text1{

  color: rgba(10, 31, 103, 1);
  font-weight: bold;

}
.bran_text2{

  color: rgba(167, 14, 14, 0.83);
  font-weight: bold;

}

/* add to cart */

.cart_div {

  background-color: rgba(209, 209, 209, 0.63);

}

.cart_body{

  background-color: rgba(68, 68, 68, 1);

}

.cart_prduct_price {

  color:rgba(5, 0, 255, 1);

}

.addcart_Btn{

  background-color: rgba(167, 14, 14, 0.83);
  font-weight: bold;

}

/* Singal Product View */

.mainImg{

  background-image: url("resource/background 1.png");
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width:  600px;
    
}

.product-qty{
  text-align: center;
  margin-left: 200px;
  width: 500px;
  height: 50px;
  padding: 10px;
}

.qty-buttons{
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;

}

.qty-inc,.qty-dec{
  width: 100%;
  height: 50%;
  justify-content: flex-end;
  cursor: pointer;
}

.qty-inc{
  border-top-right-radius: 5px;
}

.qty-dec{
  border-bottom-right-radius: 5px;
}
/* user profile */
.user_profile_body{

  background-color: rgba(216, 216, 216, 1);

}

.user_profile_img{

  background-repeat: no-repeat;
  background-size: cover;  
  border-radius: 500px;

}